@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
body {
    margin: 0 auto;
    width: 1400px;   
    font-family: 'Poppins', sans-serif;
}
/*HEADER*/
header{
    position: relative;
    z-index: -10;
    width: 100%;
    display: inline-flex;
    text-align: left;
    background-color: #000;
}
#photo {
    z-index: 1; 
    width: 36%;
}
#intro {
    z-index: 1;
    width: 80%;
}
div #my-name{
    position: absolute;
    top: 17.5rem;
    left: 20rem;
    z-index: 100;
    height: 30%;
    width: 35rem;
    background-color: #d19f8e;
    padding-left: 1.5rem;
}
h1{
    padding-top: 0.75rem;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
}
h2{
    font-size: 2rem;
    font-weight:300;
    color:#431e1e;
}
/*Navigation*/
nav {
    position: fixed;
    top: 0rem;
    left: 25rem;
    z-index: 9999;
    height: 2.5rem;
    width: 45rem;
    background-color: #d19f8e;
    padding-top: 0.35rem;
}
nav li{
    display: inline;
    padding: 0 2rem 0 3.5rem;
}
/*Navigation links styling*/
nav a{
    color: #000;
    font-size: 1.5rem;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-thickness: 0.04rem;
    }
nav a:hover{
    text-decoration: none;
}
nav a:active{
    font-weight:400;
}
/*Additional decoration*/
#square{
    position: absolute;
    right: 1.5rem;
    top: 14rem;
    z-index: -1;
    height: 10rem;
    width: 30rem;
    background-color:#431e1e;
}
/*MAIN*/
main {
    position:relative;
    z-index: -1000;
    display: grid;
    grid-template-columns: 36% 1fr;
}
/*Left CONTACT section*/
#left{
    background-image: linear-gradient(to bottom left, #261010 , black);
    padding-top: 5rem;
}
.block {
    width: 100%;
    display: inline-flex;
}
.pink {
    height: 2rem;
    width: 3.5rem;    
    background-color: #d19f8e;
}
.contact{
    width: 17.5rem;
    margin-bottom: 2rem; 
    padding-left: 2.5rem;   
    color:#d19f8e;
}
.contact h3 {
    font-weight: 700;
}
.contact p {
    font-weight: 300;
}
/*Right Info section*/
#right {
    padding: 0.25rem 2.5rem 5rem 5rem; 
}
#right h2 {
    width: 70%;
    color:#261010;
    font-weight: 400;
    border-bottom: #261010 0.25rem solid;
}

.high{
    margin-top: 1rem;
}
#right h3{
    margin-top: 1rem;
    font-size: 1.25rem;
}
main ul{
    margin: 1rem 1.5rem;
}
main li{
    margin-left: 1rem;
}
.skills li{
    display: inline-block;
    background-color: #e1af9e;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    margin: 0.5rem;
}
pre {
    width: 70%;
    margin-top: 1rem;
    padding: 1.5rem 0;
    color:white;
    font-size: 0.75rem;
    background-color:#431e1e;
}

/*FOOTER*/
footer {
    width: 100%;
    height: 4rem;
    display: inline-flex;
    justify-content:center;
    padding-top: 2rem;
    background-color:#000;
}

footer div{
    width: 15%;
}

#logo {
    width: 5rem;
}
#git {
    width: 2.5rem;
}
footer img {
    width: 100%;
    height: auto;
}
footer h4{
    color:#d19f8e;
    text-align: center;
    padding-top: 0.75rem;
   
}
